<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
        <div class="border-right">
            <img src="assets/produit.png" width="100px" height="100px">
        </div>
    </div>
    <!--Detail article-->
    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Code Article</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Designation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-11">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-11">prix TTC</div>
            </div>
        </div>
    </div>
    <!--Detail categorie-->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-2">
                <i class="fas fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12">Code Categorie</div>
                <div class="col-md-12">Designation categorie</div>
            </div>
            </div>
        </div>
    </div>
    <!--Bouton action-->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                   <i class="fas fa-pencil-alt"></i>&nbsp; Modifier</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                   <i class="fas fa-trash-alt"></i>&nbsp; Supprimer</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                   <i class="far fa-list-alt"></i>&nbsp; Details</button>
            </div>
        </div>
    </div>
</div>